/*
        body {
            font: 13px/16px arial, sans-serif;
            color: rgb(51, 51, 51);
            padding-top: 60px;
        }
*/

.nav{
/*background-color: #fff;*/
/*color: #444;*/
font-family: Arial;
font-feature-settings: "'liga' 1";
font-kerning: auto;
font-style: normal;
font-size: 1em;
font-weight: 400;
letter-spacing: 0;
line-height: 1.5em;
text-align: left;
text-decoration: none;
text-transform: none;
word-spacing: 0;

}

a:hover+span {
    font-size: 20px;
}

.navbar-fixed-top {
    position: static;
    top: auto;
    float: left;
    clear: left;
    width: 100%;
}

.center {
    float: left;
}
.nav li{
display: block;
    z-index: 100;
}

.dropdown-menu < li {
    
    cursor: default;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) url(data:image/gif;base64,R0lGODlhBwAKAMIEAObm5uvr6/Dw8P39/f///////////////yH5BAEKAAcALAAAAAAHAAoAAAMWSDPUGoE5AaIj1M4qMW+ZFDYD1ClnAgA7) no-repeat scroll 100% 3px / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    list-style: none outside none;
    margin: 0px 7px 0px 7px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 8px 7px 0px;
}

.dropdown-menu {
    width: 300px;
    left: auto;
    word-break: break-all;
}

.dropdown-menu>li {
    display: block;
    white-space: normal;
    width: 300px;
}
.dropdown-menu>li:hover {
   background-color: #c6c6c6;
}
.main_li 
{
/*z-index: 1000;*/
}
.main_li:hover {
    background-color: lightgrey;
}

.navbar-inner {
    background-image: -moz-linear-gradient(top, #fffcfc 0%, #fffcfc 50%, #cccccc 100%);
    background-image: -webkit-linear-gradient(top, #fffcfc 0%, #fffcfc 50%, #cccccc 100%);
    background-image: -o-linear-gradient(top, #fffcfc 0%, #fffcfc 50%, #cccccc 100%);
    background-image: -ms-linear-gradient(top, #fffcfc 0%, #fffcfc 50%, #cccccc 100%);
    width: 100%;
    float: left;
}

.navbar .popover {
    width: 600px;
    /*            overflow: hidden;*/
}
.maintainHover{

}
.navbar .dropdown-menu > li > a.maintainHover {
    background-position: right bottom;
    color: black;
}

.nav li a {
    color: #000;
}

.dropdown-toggle {
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
}

.top_link a:hover {
    color: #e47911;
    text-decoration: underline;
}

.top_link a {
    color: #05a;
    text-decoration: none;
    margin-right: 15px;
}

.top_link {
    padding-top: 8px;
}

.friday {
    padding-top: 3px;
}

.popover {
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: right bottom;
}

.popover ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popover h4 {
    color: #e47911;
    font-size: 18px;
}

.popover li a {
    color: #333;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
}

.popover li a:hover {
    color: #e47911;
    text-decoration: underline;
    background-color: #cccccc;
}

.popover span {
    color: #999;
    font-size: 11px;
    line-height: 13px;
    
}

.row_right {
       width: 250px;
    float: right;
/*    z-index: 100;*/
    /*            background-color: white;*/
}

.row_left {
    float: left;
    width: 250px;
    
    /*                   background-color: white;*/
}

.popover {
    max-width: 700px;
}

.dropdown-menu {
    margin: 0;
}

.dropdown-menu li a {
    display: inline-block;
}

.padding {
    padding: 0 15px;
/*    float: left;*/
}

#submenu-1 li a {
    line-height: 25px;
}

.border_submenu,
.border_menu {
    display: inline-block;
    border-top: 1px solid #eee;
}

.border_submenu {
    margin-top: 9px;
    padding-top: 9px;
}

.border_menu {
    margin-top: 6px;
    padding-top: 11px;
    
}

.img_category {
/*    display: inline;*/
    float: left;
    clear: right;
    position: absolute;
    /*
            top: 235px;
            left: 348px;
*/
    z-index: -100;
    /*
            width=190px;
            height=190px;
*/
}

.img_category img {
    /*
            max-height: 190px;
            max-width: 190px;
*/
}

.left_menu {
    float: right;
    margin: 0 10px 0 0;
    font-size: 15px;
    font-weight: bold;
    color: #990000;

    
}
.fixed_menu
{
position: fixed;
    display: none;
    top: 0px;
    width: 1000px;
    height: 40px;
    border: 1px solid #fff;
    background-color: #007CBF;
    z-index: 100;
    position: fixed;
    font-style: italic;
    color: #ffffff;
}

.open 
{
/*z-index: 10000;*/
}
.input_menu
{
float: right;
width: 200px;

}
.phones_menu
{float: left;
width: 100px;
    margin: 3px 0 1px 5px;
}
.catalog_menu
{float: left;
width: 200px;
    margin: 3px 0 0 0;
}

#telephone {
    margin: 2px 0 0 0;
}
