/*
Concatinated CSS file 
Author: Serj 
Created Date: 2015-11-23
 */ 
body{ width:100%; margin:0px; padding:0px; background:url(../image/base_bg.jpg) no-repeat; font-family:arial;}
iframe{
    height: 0;
}
#content{ width:1000px; margin:0px auto;}
p{margin:0px; padding:0px;}
p iframe{height: 315px;}


.top{ width:1000px; margin:0px auto 0px auto; height:40px;}
.menu_top{ width:493px; height:20px; padding-top:10px; float:left; margin-left:0px;}
.top_punct{color: #26509A;
  font-size: 12px;
  float: left;
  padding: 4px 1px 0px 9px;}
.top_punct a{ text-decoration:none; color:#26509A;}
.top_punct a:hover{ text-decoration:none; color:#fff;}
.razdel2{ float:left; padding:5px 5px;}
.search{ width:387px; height:25px; float:left; margin-top:5px; margin-left:120px;}
.lupa{ float:left; margin-top:2px;}
.search{ float:left;}
.search_pole{ width:260px; /* height:27px; background:url(../image/search_1.png) no-repeat; */float:left;}
.search_pole input{  float: left;
  width: 253px;
  height: 20px;
  margin-left: 6px;
  border: none;
  margin-top: 3px;
  border: 1px solid #999;
  border-radius: 3px;}
.but input{width: 102px;
  height: 24px;
  float: left;
  /* border: none; */
  /* background: url(../image/search_button_1.png) no-repeat; */
  margin-top: 3px;
  font-weight: 600;
cursor:pointer
  /* color: #FFFFFF; */}

.top1{padding-top:21px}

.head{ width:1000px; height:121px; background:url(../image/header.png) no-repeat;}
.head_top{ width:1000px; height:85px; /*margin-left:283px;*/}
.head_bot{ width:1000px; height:35px; float:left;}
.punct_head{  color: #2C476F;
    font-size: 18px;
  /* font-style: italic; */
  padding: 7px 0px 0px 34px;
  float: left;
  font-weight: bold;}
.punct_head a{ text-decoration:none; color:#1B7192;}
.punct_head a:hover{ text-decoration:none; color:#999;}
.razdel{ float:left; width:35px; height:1px; padding:3px 10px 0px 0px;}
.head_text{ color:#FFFFFF; font-weight:600; font-size:16px; float:left;padding: 1px 0px 0px 26px;}



.center{ width:1000px; height: auto; margin:20px auto 20px auto;}
.left{ float:left; width:210px;}
.header_small{ width:210px; height:28px; background:url(../image/top_1.png) no-repeat; color:#FFFFFF;   font-weight: bold;
    font-size: 18px;
  font-style: italic;
  padding: 4px 0px 0px 10px;}
.left ul{  list-style-type: none;
  margin: 0px 0px 10px 0px;
  padding: 3px 0px 0px 10px;}
.left ul a{ text-decoration:none; color:#006DA6;}
.left ul a:hover { color:#639CBA;}
.left li{ color:#006DA6; font-size: 14px;
  font-weight: 600;}
.sep{ margin:4px 0px;}
.left_text{color:#006DA6; font-size:14px; font-weight:700; text-align:left;   margin-left: 10px;
  margin-top: 10px;}
.b11 a{color:#006DA6;}
.b11 a:hover{color:#639CBA;}
.right{ float:left; width:750px; margin-left:40px; }
.header_big{  width: 788px;
  height: 28px;
  background: url(../image/top_2.png) no-repeat;
  /* margin-top: 12px; */
  color: #FFFFFF;
    font-weight: bold;
  font-size: 18px;
  font-style: italic;
    padding: 4px 0px 0px 10px;
  margin-bottom: 20px;}
.right p{ color:#3B3B3B; text-align:justify; font-size:12px;}
.blok_tovar{   width: 737px;
  border-bottom: 1px dotted #B5B4B4;
  margin-top: 22px;
  margin-left: 22px;}
.tovar_name{ color:#006DA6; font-size:20px; font-weight:700;}
.tovar_name a{color:#006DA6; text-decoration:none;}
.tovar_name a:hover{color:#333333; text-decoration:none;}

.tovar_image{ position: relative;
  float: left;
    clear: left;

  width: 240px;
  text-align: center;
  margin: 5px 0 0 0;}
.tovar_opis{ float:left; width:497px; margin-top:20px;}
.opis_punct{ width:475px; height:18px; border:0px solid #FFFFFF; border-radius:5px; color:#333333; font-size:12px; font-weight:600; padding:2px 0px 0px 5px;}
.bs{ background:#D9EDFA; }
.description{ width:735px; color:#333333; font-size:14px; margin-top:10px;}
.description a{color:#006DA6;}
.description a:hover{color:#333;}
.cena{  color: #006DA6;
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
  height: 43px;
	 }
.cena22{  color: #006DA6;
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
  height: 43px;
	 }

.cena-h { width: 209px;}
.cena2{font-size: 13px;}
.buy { border:none; border:1px solid #3366FF; background:#0078BB; border-radius:5px; float:left; color:#FFFFFF; width:100px; height:21px; font-weight:bold; margin-top:5px; float:left; font-size:12px; text-align:center; float:right; padding-top:3px;}
.buy a{ text-decoration:none; color:#FFFFFF;}
.navigation{text-align:right; float:right; margin-top:5px;}
.navi_number{ float:left; color:#006DA6;margin-left:5px;}
.navi_number_active{ float:left;color:#006DA6; margin-left:5px;}
.navi_text{ float:left; color:#006DA6; }
.navi_number a{color:#006DA6;}
.navi_number_active a{ color:#006DA6; text-decoration:none;}



.podval{ width:1000px; height:140px; background:url(../image/bg_footer.png) repeat-x; margin-top:10px;}
.podval_left{ width:450px; float:left;  margin:20px 0px 0px 30px;}
.header_large{ width:400px; height:28px; background:url(../image/top_3_1.png) no-repeat; color:#FFFFFF; font-weight:bold; font-size:14px; font-style:italic; padding:5px 0px 0px 10px;}
.podval_right{ width:450px; float:left;  margin:20px 0px 0px 35px;}
.podval_text{ color:#023F82; font-size:12px;}

.tovar_image img{max-height:170px; max-width:230px;}

.imgman img{float:left;}
.blok_man{width:100%; margin-bottom:20px;}

.namevop{font-size:12px; color:#999999;}
.textvop{font-size:14px; color:#333333; font-weight:600; text-align:justify;}
.textotv{font-size:14px; color:#333333; text-align:justify; font-style:italic; margin-bottom:20px;}

.blok_man a{font-size:14px; font-weight:700; text-decoration:none; color:#006DA6;}
.blok_man img{margin-right:5px; margin-bottom:5px;}
.blok_man{font-size:12px; font-style:italic;}

.shop_opisanie p{padding: 10px 20px;}

.right p{padding:0px 10px;}

.n_news_text{padding:0px 10px;}

.cat-my li{  display: block;
  border: 1px solid #B5B5B5;
  border-radius: 3px;
  float: left;
  height: 215px;
  width: 200px;
  margin: 0 0 15px 15px;}

.cat-my img {/*padding: 10px;*/
  max-height: 140px;
  max-width: 180px;}

/* news_style */
/* line 6, ../sass/lightbox.sass */
#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none;
}

/* line 15, ../sass/lightbox.sass */
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal;
}
/* line 24, ../sass/lightbox.sass */
#lightbox img {
  width: auto;
  height: auto;
}
/* line 27, ../sass/lightbox.sass */
#lightbox a img {
  border: none;
}

/* line 30, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, ../sass/lightbox.sass */
.lb-container {
  padding: 10px;
}

/* line 42, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 51, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 59, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 62, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 65, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  /* Trick IE into showing hover */
  display: block;
}

/* line 72, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}

/* line 76, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}

/* line 81, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url(../images/prev.png) left 48% no-repeat;
}

/* line 85, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(../images/next.png) right 48% no-repeat;
}

/* line 88, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 95, ../sass/lightbox.sass */
.lb-data {
  padding: 0 10px;
  color: #bbbbbb;
}
/* line 98, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 103, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 107, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px;
}
/* line 112, ../sass/lightbox.sass */
.lb-data .lb-close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}
/* line 117, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
}


/* news_style */


.n_news{ width:100%; margin-bottom:20px;}
.n_news_top{ width:100%; min-height:23px; background-color:#3BA0C5; }
.n_telephone{font-size:18px; color:#FFFFFF; font-weight:600; padding-left:10px; width:100%; min-height:23px;}
.n_header{ width:100%;  min-height:25px; margin-top:10px;}
.n_news_bottom{ width:100%;}
.n_left_news{ width:20%; float:left;}
.n_right_news{ width:100%; float:left;}
.n_news_text{ text-align:justify;}
.n_all a{ color:#3C53B0; float:right;}
.n_window{ float:left;}
.n_header_date{ float:left;}
.n_header_date{ color:#6C90AB; margin-right:15px;}
.n_header_date a{ color:#6C90AB;}
.n_window{ margin-right:10px;}
.button{ width:917px; height:25px; text-align:center; margin-top:10px;}
.push{ width:22px; height:22px; border:1px solid #CCCCCC; border-radius:5px; text-align:center; margin:0px 5px; float:left;}


/* news_style */
 	.shop_right {
 	    width: 100%;
 	    float: left;
 	    margin-top: 10px;
 	}
 	.shop_right_top {
 	    width: 100%;
 	    margin-left: 10px;
 	}
 	.shop_name {
 	    font-size: 20px;
 	    font-weight: 700;
 	}
 	.shop_button {
 	    width: 98%;
 	    */
 	    /* height: 32px; */
 	    /* border-radius: 5px; */
 	    /* background-color: #EBEBEB; */
 	    float: right;
 	}
 	.shop_button2 {
 	    width: 50%;
 	    height: 32px;
 	    /*float:left;*/
 	    margin-top: 10px;
 	}
 	.shop_button2_left {
 	    width: 32px;
 	    height: 32px;
 	    background: url(../image/korzina.png) no-repeat;
 	    float: left;
 	}
 	.shop_button2_left1 {
 	    width: 32px;
 	    height: 32px;
 	    background: url(../image/vopros.png) no-repeat;
 	    float: left;
 	}
 	.shop_button2_left2 {
 	    width: 32px;
 	    height: 32px;
 	    background: url(../image/shtrix_kod.png) no-repeat;
 	    float: left;
 	}
 	.shop_button2_left3 {
 	    width: 32px;
 	    height: 32px;
 	    background: url(../image/schet.png) no-repeat;
 	    float: left;
 	}
 	.shop_button2_left4 {
 	    width: 32px;
 	    height: 32px;
 	    background: url(../image/birka.png) no-repeat;
 	    float: left;
 	}
 	.shop_button2_left5 {
 	    width: 32px;
 	    height: 32px;
 	    background: url(../image/otzyv.png) no-repeat;
 	    float: left;
 	}
 	.shop_button2_center {
 	    /* width: 85%; */
 	    height: 32px;
 	    background: url(../image/bottom_center.png) repeat-x;
 	    float: left;
 	    text-align: center;
 	    padding-top: 6px;
 	    padding: 7px 24px;
 	    color: rgb(115, 115, 115);
 	    font-weight: bold;
 	}
 	.shop_button2_center a {
 	    font-size: 16px;
 	    color: #656565;
 	    text-decoration: none;
 	    font-weight: 700;
 	}
 	.shop_button2_center2 a {
 	    font-size: 16px;
 	    color: #656565;
 	    text-decoration: none;
 	    font-weight: 700;
 	}
 	.shop_button2_right {
 	    width: 10px;
 	    height: 32px;
 	    background: url(../image/bottom_left.png) no-repeat;
 	    float: left;
 	}
 	.shop_button3 {
 	    width: 100%;
 	    height: 32px;
 	    margin-top: 10px;
 	    float: left;
 	}
 	.shop_button2_center2 {
 	    width: 90%;
 	    height: 32px;
 	    background: url(../image/bottom_center.png) repeat-x;
 	    float: left;
 	    text-align: center;
 	    padding-top: 6px;
 	}
 	.shop_blok {
 	    width: 100%;
 	}
 	.shop_firma {
 	    width: 40%;
 	    float: left;
 	    text-align: center;
 	}
 	.shop_firma_name {
 	    font-weight: 600;
 	}
 	.shop_social {
 	    width: 60%;
 	    float: left;
 	    text-align: center;
 	}
 	.shop_ceti {
 	    width: 50%;
 	    margin: 0 auto;
 	}
 	.shop_mail {
 	    float: left;
 	    margin-right: 10px;
 	    margin-bottom: 5px;
 	}
 	.shop_opisanie2 {
 	    width: 100%;
 	}
 	.shop_header {
 	    width: 100%;
 	    font-size: 28px;
 	    font-weight: 700;
 	    background: 0% 50% url(../image/polosa.png) repeat-x;
 	    margin-top: 45px;
 	    margin-bottom: 20px;
 	}
 	.shop_head {
 	    width: 100%;
 	    font-size: 26px;
 	    font-weight: 700;
 	    background: 0% 43% url(../image/polosa.png) repeat-x;
 	    margin-top: 41px;
 	}
 	.shop_opism {
 	    width: 230px;
 	    height: 25px;
 	    background-color: #ffffff;
 	    color: #333333;
 	}
 	.shop_opis3 {
 	    height: 36px;
 	    background-color: #ffffff;
 	    color: #333333;
 	    padding-right: 37px;
 	    display: inline-block;
 	}
 	.shop_opis1 {
 	    height: 36px;
 	    background-color: #ffffff;
 	    color: #333333;
 	    padding-right: 37px;
 	    display: inline-block;
 	}
 	.shop_opis {
 	    height: 36px;
 	    background-color: #ffffff;
 	    color: #333333;
 	    padding-right: 37px;
 	    display: inline-block;
 	}
 	.shop_opismm {
 	    /* min-width: 100px; */
 	    height: 36px;
 	    background-color: #ffffff;
 	    color: #333333;
 	    padding-right: 37px;
 	    display: inline-block;
 	}
 	.shop_katalog {
 	    width: 480px;
 	    height: 280px;
 	    border: 1px solid #CCCCCC;
 	    float: left;
 	    margin-left: 10px;
 	    text-align: center;
 	}
 	.shop_buy {
 	    font-size: 34px;
 	    font-weight: 600;
 	    float: left;
 	    margin-top: 3px;
 	    color: #333;
 	    /* margin-left: 5px; */
 	    border-bottom: 1px solid;
 	}
 	.shop_buy_no {
 	    font-size: 34px;
 	    font-weight: 600;
 	    float: left;
 	    margin-top: 3px;
 	    color: #BDBDBD;
 	    /* margin-left: 5px; */
 	    border-bottom: 1px solid;
 	    width: 315px;
 	}
 	.shop_buy2 {
 	    font-size: 18px;
 	    color: #333237;
 	    float: left;
 	    margin-top: 4px;
 	}
 	.shop_center {
 	    width: 100%;
 	}
 	.shop_opisanie1 {
 	    width: 100%;
 	    margin-top: 10px;
 	}
 	.shop_all a {
 	    color: #3C53B0;
 	    float: right;
 	}
 	.shop_head1 {
 	    width: 100%;
 	    font-size: 26px;
 	    font-weight: 700;
 	    background: 0% 43% url(../image/polosa.png) repeat-x;
 	    margin-top: 41px;
 	    margin-bottom: 20px;
 	}
 	.shop_head3 {
 	    width: 401px;
/* 	    height: 25px;*/
 	    font-size: 20px;
 	    font-weight: 700;
 	}
 	.shop_bottom {
 	    width: 100%;
 	}
 	.shop_tovar2 {
 	    width: 192px;
 	    height: 299px;
 	    border: 1px solid #CCCCCC;
 	    margin-right: 7px;
 	    float: left;
 	    text-align: center;
 	    border-radius: 3PX;
 	}
 	.shop_date {
 	    color: #999999;
 	}
 	.shop_katalog_name {
 	    /* font-weight: 600; */
 	    height: 53px;
 	    color: #333333;
 	    font-size: 12px;
 	    overflow: hidden;
 	    padding: 10px 10px 0px 10px;
 	}
 	.shop_katalog_name a {
 	    color: #333333;
 	    font-size: 12px;
 	    font-style: italic;
 	}
 	.shop_cena {
 	    background-color: #E6E4E4;
 	    height: 75px;
 	    border-radius: 3px;
 	    padding-top: 13px;
 	    color: #000;
 	    font-size: 12px;
 	}
 	.shop_tovar_kart {
 	    margin-top: 5px
 	}
 	#gallery .shop_logo img {
 	    max-height: 90px;
 	    border: 0;
 	    margin: 8px 14px;
 	}
 	.shop_kart img {
 	    max-height: 200px;
 	    max-width: 300px;
 	}
 	.shop_kart {
 	    width: 480px;
 	    height: 210px;
 	    text-align: center;
 	}
 	.shop_tovar_kart img {
 	    max-height: 145px;
 	    max-width: 190px;
 	}
 	.shop_galery_top img {
 	    max-width: 390px;
 	    max-height: 220px;
 	}
 	p {
 	    margin: 0px;
 	    padding: 0px;
 	}
 	.add_otziv {
 	    font-size: 18px;
 	    font-weight: 700;
 	}
 	.otzivform input {
 	    width: 300px;
 	}
 	.otzivform textarea {
 	    width: 300px;
 	    height: 150px;
 	}
 	#gallery {
 	    /*width:400px; */
 	    margin: 0 auto;
 	    /* text-align:center;*/
 	}
 	#gallery ul {
 	    list-style: none;
 	    margin: 0px;
 	    padding: 0px;
 	}
 	#gallery li {
 	    /*display: inline;*/
 	    margin-right: 3px;
 	    margin-bottom: 3px
 	}
 	#gallery #main-img {
 	    background: url(bg_img.png) no-repeat 0 0;
 	}
 	#gallery img {
 	    max-width: 400px;
 	    max-height: 300px;
 	    border: 1px solid #CCCCCC;
 	    border-radius: 5px;
 	}
 	#gallery li img {
 	    max-width: 90px;
 	    max-height: 90px;
 	}
 	.osnimg {
 	    /*width:400px; height:300px;*/
 	    float: left;
 	    margin-right: 6px;
 	}
 	.man_v_cat {
 	    float: left;
 	    /*padding:0px 5px 0px 5px; border:1px solid #CCCCCC; height:20px; background-color:#727370;  text-align:center; border-radius:4px*/
 	    ;
 	}
 	.man_v_cat a {
 	    /*color:#FFFFFF;*/
 	    color: #3B3B3B;
 	    text-decoration: none;
 	    margin-left: 10px;
 	}
 	.man_v_cat a:hover {
 	    color: #0B9BF9
 	}
 	.spmancat {
 	    width: 731px;
 	    margin-top: 15px;
 	    background-color: rgb(231, 229, 229);
 	    border: 1px solid #B5B4B4;
 	    border-radius: 3px;
 	    padding: 5px 0 5px 5px;
 	    font-size: 13px;
 	    margin-bottom: 20px;
 	    font-weight: 600
 	}
 	#idv {
 	    background: url(../image/korzina2.png) no-repeat;
 	    border: none;
 	    width: 107px;
 	    height: 23px;
 	    padding-top: 4px;
 	    font-size: 12px;
 	    color: #333333;
 	    margin-top: 5px;
 	    cursor: pointer;
 	}
 	.kart_tovar img {
 	    max-width: 200px;
 	    max-height: 160px;
 	}
 	.kart_tovar {
 	    width: 220px;
 	    height: 170px;
 	}
 	h1 {
 	    font-size: 26px;
 	    color: #333333;
 	    /*font-style:italic; margin:0px 4px 4px 4px;*/
 	    padding: 0px;
 	    color: #333333;
 	    /*border-bottom: 1px solid #999;*/
 	}
 	h2 {
 	    font-size: 18px;
 	    color: #333333;
 	    font-style: italic;
 	    margin: 0px 4px 4px 4px;
 	    padding: 0px;
 	    color: #333333;
 	}
 	.blok_name h1 {
 	    margin: 3px 0px 30px 0px;
 	}
 	.blokpodkat {
 	    width: 173px;
 	    height: 160px;
 	    border: 2px solid #CCCCCC;
 	    float: left;
 	    margin-right: 10px;
 	    margin-bottom: 10px;
 	    border-radius: 6px;
 	}
 	.blokpodkat1 {
 	    width: 173px;
 	    height: 160px;
 	    border: 2px solid #CCCCCC;
 	    float: left;
 	    margin-right: 10px;
 	    margin-bottom: 10px;
 	    border-radius: 6px;
 	    font-size: 12px;
 	}
 	.blokpodkat1 a {
 	    font-weight: 600;
 	    color: #333333;
 	}
 	.blokpodkat1:hover {
 	    /* width: 80%;*/
 	    /*max-width: 550px;*/
 	    /*margin: 2em auto;*/
 	    /*padding: 1em;*/
 	    box-shadow: 0 0 2px 2px rgba(0, 124, 191, 1);
 	}
 	.podkatname {
 	    text-align: center;
 	    height: 40px;
 	    border-bottom: none;
 	    padding: 5px 10px 0px 10px;
 	}
 	.podkatname a {
 	    text-decoration: none;
 	}
 	.podkatimg {
 	    text-align: center;
 	}
 	.blokpodkat a {
 	    font-weight: 600;
 	    color: #333333;
 	}
 	.blokpodkat:hover {
 	    /* width: 80%;*/
 	    /*max-width: 550px;*/
 	    /*margin: 2em auto;*/
 	    /*padding: 1em;*/
 	    box-shadow: 0 0 2px 2px rgba(0, 124, 191, 1);
 	}
 	.catvl {
 	    font-size: 20px;
 	    font-family: Verdana, Arial, Helvetica, sans-serif;
 	    font-weight: 600;
 	    margin: 10px 0px 20px 40px;
 	}
 	.blocksortirovki {
 	    height: 28px; background: url("http://www.kuvalda.garant.by/image/top_2.png") no-repeat transparent; padding-left:1%; width:780px; padding-top:5px; color:#FFFFFF;}
 	    .blocksortirovki a {
 	        color: #FFFFFF;
 	        font-weight: 700;
 	    }
 	    .mannamepage {
 	        font-size: 18px;
 	        font-weight: 700;
 	    }
 	    .maninfopage img {
 	        float: left;
 	        margin: 0px 10px 10px 0px;
 	    }
 	    .infocat {
 	        width: 100%;
 	    }
 	    .catname {
 	        font-size: 12px;
 	        font-weight: 600;
 	        width: 750px;
 	        color: #666666;
 	    }
 	    .shop_firma_name a {
 	        color: #333333;
 	        /*font-style:italic;*/
 	    }
 	    .catname a {
 	        color: #333333;
 	        font-size: 12px;
 	    }
 	    .catimg img {
 	        max-width: 710px;
 	        /*float:left;*/
 	        margin: 0px 10px 10px 10px;
 	    }
 	    .shop_button5 {
 	        width: 78%;
 	        height: 28px;
 	        /* border-radius: 5px; */
 	        background-color: #EBEBEB;
 	        margin-left: 91px;
 	        padding-left: 1%;
 	        margin-bottom: 1px;
 	        /* border-bottom: 1px solid #EBEBEB;*/
 	    }
 	    .shop_buttonim img {
 	        margin: 5px 9px 0px 0px;
 	        width: 18px;
 	    }
 	    .shop_buttonim {
 	        float: left;
 	    }
 	    .shop_buttonval {
 	        float: left;
 	        padding-top: 6px;
 	        font-size: 15px;
 	        color: #333;
 	    }
 	    .titlezak2 {
 	        width: 45%;
 	        border-bottom: 1px solid #999999;
 	        border-right: 1px solid #999999;
 	        float: left;
 	        height: 20px;
 	        padding-left: 1%;
 	    }
 	    .collitem2 {
 	        width: 15%;
 	        border-bottom: 1px solid #999999;
 	        border-right: 1px solid #999999;
 	        float: left;
 	        height: 20px;
 	        padding-left: 1%;
 	        text-align: center;
 	    }
 	    .priceitem2 {
 	        width: 15%;
 	        border-bottom: 1px solid #999999;
 	        float: left;
 	        height: 20px;
 	        padding-left: 1%;
 	    }
 	    .itogo {
 	        width: 70%;
 	        padding-left: 1%;
 	    }
 	    .formzakus {
 	        padding-left: 1%;
 	    }
 	    .titlezak {
 	        width: 45%;
 	        border-bottom: 1px solid #999999;
 	        border-top: 1px solid #999999;
 	        border-right: 1px solid #999999;
 	        float: left;
 	        height: 20px;
 	        padding-left: 1%;
 	        font-weight: 700;
 	    }
 	    .collitem {
 	        width: 15%;
 	        border-bottom: 1px solid #999999;
 	        border-top: 1px solid #999999;
 	        border-right: 1px solid #999999;
 	        float: left;
 	        height: 20px;
 	        padding-left: 1%;
 	        font-weight: 700;
 	    }
 	    .priceitem3 {
 	        width: 15%;
 	        border-bottom: 1px solid #999999;
 	        border-top: 1px solid #999999;
 	        float: left;
 	        height: 20px;
 	        padding-left: 1%;
 	        font-weight: 700;
 	    }
 	    .blokpodkat a {
 	        text-decoration: none;
 	    }
 	    .collitem2 input {
 	        width: 20px;
 	        height: 12px;
 	        margin-top: 1px;
 	    }
 	    .blok_name {
 	        /*text-align:center;*/
 	        font-size: 18px;
 	        font-weight: 600;
 	        /*width:760px;*/
 	    }
 	    #comentblock {
 	        position: fixed;
 	        top: 300px;
 	        left: 37%;
 	        width: 19%;
 	        padding: 2% 1%;
 	        background: #FFFFFF;
 	        border: 1px solid #54B846;
 	        text-align: center;
 	        font-size: 16px;
 	        font-weight: 700;
 	        color: #54B846;
 	    }
 	    .podkatimg img {
 	        max-height: 110px;
 	        max-width: 171px;
 	    }
 	    .cat_my_man {
 	        display: inline-block;
            margin: 20px 0px;
 	    }
 	    .shop_opis2 {
 	        width: 100px;
 	        background: #FFFFFF;
 	    }
 	

/* news_style */
/*

Craftyslide CSS Styles

*/

#slideshow {
	margin:0;
	padding:0;
	position:relative;
	
}

#slideshow ul {
	position:relative;
	overflow:hidden;
	margin:0;
	padding:0;
}

#slideshow ul li {
	position:absolute;
	top:0;
	left:0;
	margin:0;
	padding:0;
	list-style:none;
}

#pagination {
	/*  clear: both;*/
  /* width: 75px; */
  /*margin: -16px 0 0 340px;*/
  padding: 0;
  /*z-index: 1;*/
  /* align-content: right; */
  /*position: absolute;*/
}

#pagination li {
	list-style:none;
	float:left;
	margin:0 2px;
}

#pagination li a {
	display:block;
	width:10px;
	height:10px;
	text-indent:-10000px;
	background:url(../images/pagination.png);
}

#pagination li a.active {
	background-position:0 10px;
}

.caption {
	width:100%;
	margin:0;
	padding:10px;
	position:absolute;
	left:0;
	font-family:Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight:lighter;
	color:#fff;
	
}

/* news_style */
/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.2
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:100%;
	background:url(../img/ui.totop.png) no-repeat left top;
}

#toTopHover {
	background:url(../img/ui.totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}

/* news_style */
.viewport {
    width: 750px;
    height: 275px;
    overflow: hidden;
    position: relative;
}
.viewport_item {
    width: 1000px;
    height: 305px;
    overflow: hidden;
    position: relative;
}
.slidewrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    margin: 0;
    padding: 0;
}
.slidewrapper_item {
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    margin: 0;
    padding: 0;
}
.slide {
    width: 750px;
    height: 275px;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #e8e8e8;
}
.slide_item {
    width: 1000px;
    height: 305px;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
}
.slide_item img {
    max-height: 145px;
    max-width: 190px;
}
.slide img {
    width: 750px;
    height: 275px;
}
.second {
    background: #d1dbd1;
}
.third {
    background: #d7d7db;
}
.searchbox {
    margin: 0px;
    height: 22px;
    font-size: 15px;
    border: 0px;
}
.searchtext {
    color: #ffffff;
    font-size: 12px;
}
#search-block {
    display: none;
}
.live-search-wrap {
    width: 700px;
    float: right;
    display: inline-block;
}
.live-search-wrap .live-search-filed {
    display: inline-block;
    width: 100%;
    position: relative;
}
.live-search-wrap .live-search-filed .search-field {
    display: inline-block;
    width: 605px;
    border: medium none;
    background-color: rgb(255, 255, 255);
    height: 26px;
    float: left;
    padding-left: 5px;
    padding-right: 25px;
}
.live-search-wrap .live-search-filed .empty-search {
    background-image: url("/images/cross-lines.png");
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3px;
    right: 98px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
}
.live-search-wrap .live-search-filed .search-button {
    display: inline-block;
    width: 95px;
    height: 26px;
    border: none;
    border-left: 1px solid #cacaca;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-weight: bold;
    cursor: pointer;
}
.live-search-wrap .live-search-result {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(202, 202, 202);
    position: absolute;
    width: 698px;
    display: block;
    margin-top: 0;
    z-index: 1;
}
.live-search-wrap .live-search-result .product-item {
    display: inline-block;
    width: 678px;
    padding: 10px;
}
.live-search-wrap .live-search-result .product-item .image {
    display: inline-block;
    width: 62px;
    border: 1px solid #b5b5b5;
    float: left;
}
.live-search-wrap .live-search-result .product-item .item-detail {
    display: inline-block;
    width: 605px;
    padding-left: 9px;
}
.live-search-wrap .live-search-result .product-item .item-detail .item-title {
    display: inline-block;
    float: left;
    width: 535px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    text-decoration: underline;
    color: #333;
    margin-bottom: 5px;
}
.live-search-wrap .live-search-result .product-item .item-detail .item-rate {
    display: inline-block;
    width: 70px;
    height: 14px;
    padding-top: 4px;
}
.live-search-wrap .live-search-result .product-item .item-detail .item-rate .rate_active,
.live-search-wrap .live-search-result .product-item .item-detail .item-rate .rate_inactive {
    display: inline-block;
}
.live-search-wrap .live-search-result .product-item .item-detail .item-descript {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    width: 593px;
    font-size: 12px;
    color: #6d6d6d;
    margin-left: 12px;
}
.live-search-wrap .live-search-result .product-item .cost-item {
    display: inline-block;
    max-width: 400px;
    float: left;
    margin-top: 5px;
}
.live-search-wrap .live-search-result .product-item .cost-item .title {
    font-size: 12px;
    color: #333;
}
.live-search-wrap .live-search-result .product-item .cost-item .new-cost,
.live-search-wrap .live-search-result .product-item .cost-item .old-cost {
    font-size: 12px;
    color: #6d6d6d;
    margin-left: 8px;
    font-weight: bold;
}
.live-search-wrap .live-search-result .product-item .cost-item .old-cost {
    text-decoration: line-through;
}
.live-search-wrap .live-search-result .product-item .button-item {
    display: inline-block;
    margin-top: 4px;
    margin-left: 5px;
}
.live-search-wrap .live-search-result .product-item .button-item img {
    height: 20px;
}
.live-search-wrap .live-search-result .count-item {
    height: 25px;
    line-height: 25px;
    text-align: right;
    padding-right: 10px;
}
.live-search-wrap .live-search-result .category-item {
    display: inline-block;
    border-top: 1px solid #cacaca;
    width: 678px;
    padding: 15px 10px;
    font-size: 16px;
    text-decoration: underline;
}
.search {
    margin: 7px 0;
}
.menu_top {
    width: 613px;
}
.tovar_name {
    float: left;
    clear: right;
    padding-left: 15px;
}
.rate_active {
    display: inline-block;
    background: URL(/image/stars.jpg);
    background-position: -3px top;
    height: 11px;
    width: 11px;
    vertical-align: sub;
}
.rate_inactive {
    display: inline-block;
    background: URL(/image/stars.jpg);
    background-position: -46px top;
    height: 11px;
    width: 11px;
    vertical-align: sub;
}
#search-keyword {
    width: 570px;
    margin-right: 4px;
    height: 24px;
}
#search_button {
    margin-right: -87px;
}
#parent {
    line-height: 200px;
}
#parent img {
    vertical-align: middle;
}
#image_product {
    float: left;
    clear: left;
    width: 160px;
    height: 160px;
}
#image_product img {
    max-width: 160px;
    max-height: 160px;
}
#product_price {
    color: darkcyan;
    font-size: 15px;
    padding-bottom: 2px;
    vertical-align: bottom;
    margin-top: 10px;
    float: left;
}
#about_product {
    color: black;
    font-size: 12px;
    margin-bottom: 25px;
    margin-top: 5px;
}
#block_tovar {
    float: left;
    clear: left;
    margin-bottom: 15px;
    margin-top: 35px;
    border-bottom: none;
    display: inline-block;
    width: 100%;
}
#center {
    padding-left: 10%;
    width: auto;
}
#line {
    border-radius: 5px;
    display: inline-block;
    width: 500px;
    background-color: #f2f2f2;
    padding-left: 10px;
}
#line1 {
    border-radius: 5px;
    display: inline-block;
    width: 500px;
    background-color: #D9EDFA;
    padding-left: 10px;
}
#space {
    margin: 10px;
}
#star-five {
    display: inline;
    float: right;
    margin-top: 15px;
    margin-right: 250px;
}
a.button31 {
    top: -187px;
    right: 155px;
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    outline: none;
    background: #999;
    opacity: 0.5;
    box-shadow: 0 1px rgba(0, 0, 0, .1) inset, 0 1px #fff;
}
a.button31:after,
a.button31:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 15%;
    left: -7.5%;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 10%;
    margin: auto;
    background-opacity: 1;
    background: white;
    box-shadow: 0 1px rgba(0, 0, 0, .1) inset, 0 1px #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0.9;
}
a.button31:before {
    top: -15%;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}
a.button31:hover,
a.button31:active {
    background: #006c9f;
    box-shadow: none;
    opacity: 1;
}
a.button31:hover:after,
a.button31:hover:before {
    background: white;
}
a.button32 {
    top: -187px;
    right: -1045px;
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    outline: none;
    background: #999;
    opacity: 0.5;
    box-shadow: 0 1px rgba(0, 0, 0, .1) inset, 0 1px #fff;
}
a.button32:after,
a.button32:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15%;
    left: 7.5%;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 10%;
    margin: auto;
    background-opacity: 1;
    background: white;
    box-shadow: 0 1px rgba(0, 0, 0, .1) inset, 0 1px #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0.9;
}
a.button32:before {
    top: 15%;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}
a.button32:hover,
a.button32:active {
    background: #006c9f;
    box-shadow: none;
    opacity: 1;
}
a.button32:hover:after,
a.button32:hover:before {
    background: white;
}
.shop_head1 {
    /*    float: left;*/
    clear: left;
}
.add_otziv {
    float: left;
    clear: left;
}
.nameotziv {
    float: left;
    clear: left;
}
.otzivform {
    float: left;
    clear: left;
}
.send_query {
    float: left;
    clear: left;
}
.shop_head {
    margin-bottom: 20px;
}
.bread a {
    font-size: 13px;
    color: black;
    text-decoration: none;
}
.bread a:hover {
    /*font-size: 15px;*/
    color: black;
    text-decoration: none;
    background-color: whitesmoke;
    font-weight: 600;
}
.rating {
    font-size: 14px;
    color: #333;
    font-weight: 600;
    margin-left: 214px;
    vertical-align: sub;
}
.complect {
    width: 100%;
    height: 280px;
    border: 0px solid black;
    border-radius: 10px;
    /*    margin: 80px 0;*/
    box-shadow: 0 0 3px grey;
    padding: 0 1px;
}
.complect span {
    font-family: sans-serif;
    font-weight: 600;
}
.complect h4 {
    /*    margin: 2px 10px 0 0 ;*/
    /*background-color: beige;*/
    /*    box-shadow: 0 0 1px grey;*/
}
.plus {
    /*height: 100%;*/
    width: 20px;
    float: left;
    font-size: 43px;
    color: grey;
    padding: 70px 10px;
}
.right_complect {
    /*border: 1px solid black;*/
    border-radius: 5px;
    float: right;
    height: 100%;
    background-color: #EBEBEB;
    box-shadow: 0 0 5px grey;
    width: 130px;
}
.right_complect span {
    font-weight: 100;
    font-size: 14px;
    display: block;
    margin: 5px 2px 0 10px;
}
.item_name {
    height: 55px;
}
.item_name + span {
    display: block;
    margin: 10px 0;
}
.main_item {
    margin: 18px 0px 5px 10px;
    float: left;
    width: 150px;
    /*    box-shadow: 0 0 3px grey;*/
}
.complect_item {
    margin: 5px 10px;
    float: left;
    width: 150px;
}
.image_complect {
    width: 150px;
    height: 150px;
    margin: 0 0 10px 0;
}
.image_complect img {
  
    max-height: 150px;
    max-width: 150px;
}
.head_top {
    height: 73px;
}
.button_bay {
    padding: 4px 21px;
    margin: 29px 14px;
    background-color: #15db15;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}
.form_buy {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 200;
}
.zakaz {
    display: none;
    position: fixed;
    margin: -275px 0 0 -250px;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 550px;
    background-color: #006c9f;
    opacity: 1;
    z-index: 300;
    border-radius: 7px;
    box-shadow: 0 0 5px #ffffff;
}
.form_name {
    margin: 25px 20px;
    /*float: left;*/
    clear: left;
}
.form_name_button {
    position: absolute;
    right: 20px;
    bottom: 10px;
    /*float: right;*/
    clear: right;
}
.form_name_button input {
    background-color: #15db15;
    padding: 10px 15px;
    color: white;
    font-size: 1.4em;
    border-radius: 9px;
}
.form_name_button_cancel {
    position: absolute;
    left: 20px;
    bottom: 10px;
    /*float: left;*/
    clear: right;
    /*    margin:10px 20px;*/
}
.form_name_button_cancel input {
    background-color: #ffffff;
    color: #000000;
    font-size: 1.1em;
    padding: 5px 10px;
    border-radius: 5px;
}
.opisanie_zakaza {
    color: #fff;
    margin: 10px 20px;
    float: left;
    clear: right;
}
.basket {
    float: right !important;
    font-weight: bold;
}
.basket_image {
    width: 60px;
    height: 17px;
    float: left;
}
.number_of_goods {
    /*float: left;*/
    margin: 0 10px;
}
.basket_image img {
    max-height: 20px;
    max-width: 20px;
}
.form_buy_basket {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 200;
}
.zakaz_basket {
    display: none;
    position: fixed;
    margin: -350px 0 0 -450px;
    top: 50%;
    left: 50%;
    width: 900px;
    height: 700px;
    background-color: #ffffff;
    opacity: 1;
    z-index: 300;
    border-radius: 7px;
    box-shadow: 0 0 5px #ffffff;
}
.basket_name {
    width: 100%;
    height: 30px;
    background-color: #007CBF;
    border-radius: 7px 7px 0 0;
    color: #ffffff;
}
.basket_name span {
    font: italic 1.5em sans-serif;
    margin: 2px 0 2px 20px;
}
.basket_consist {
    overflow-y: scroll;
    width: 80%;
    height: 60%;
    margin: 20px 10px 20px 10px;
    float: left;
}
.basket_items {
    height: 20px;
    background-color: #dedede;
    font: normal 1em sans-serif;
    padding: 0 0 0 20px;
}
.basket_items span{
}
.basket_item_price {
    float: right;
    font: italic 1.1em sans-serif;
    margin: 30px;
    text-align: right;
}
.basket_line_items {
    margin: 10px 20px 20px;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
}
.basket_links{
float: left;
margin: 25px 0 0 0;
font: bold 1.5em sans-serif;
text-decoration: none;
    color:darkgrey;
    
}
.delete_item_basket{
    height: 20px;
    width: 20px;
    text-align: center;
float: right;
    margin: 26px 20px 30px 0;
    color:grey;
    font: normal 1.5em sans-serif;
    cursor: pointer;
}
.basket_links a {
text-decoration: none;
color: darkgray;
}
.basket_description {
    width: 100%;
    height: 80px;
}
.basket_image_item {
    width: 75px;
    margin: 1px 20px;
    height: 75px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    float: left;
}
.basket_image_item img {
    max-height: 75px;
    max-width: 75px;
}
.basket_cart {
    float: right;
    width: 15%;
    height: 30%;

    margin: 20px 20px 0 0;
    border-radius: 5px;
}
.basket_total_summ {
    color:dimgrey;
    margin: 20px auto;
    text-align: center;
    /*    font:normal small-caps 12px/14px fantasy;*/
    font-family: "Helvetica Neue", "Helvetica", "Verdana", sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.basket_buttons div{
    height: 35px;
    width: 175px;

display: block;

float: right;
clear: right;
text-align: left;
    margin-bottom: 10px;
}
.basket_buttons span{
border: 1px solid grey;
/*    box-shadow: 0 0 1px black;*/
border-radius: 7px;
margin: 5px;
    padding: 7px;
    display: inline-block;
background-color: #9b9b9b;
    color: white;
    cursor: pointer;
}

.basket_buttons input{
float: left;
    margin: 3px 5px 10px 50px;;
    clear:left;
width: 350px;
}
.complect_name {
    padding: 10px 45px;
    font: bold italic 175% sans-serif;
    /*    background-color: azure;*/
    /*    border: 1px solid grey;*/
    /*    border-radius: 5px 5px 0 0;*/
    margin: 0 0 -5px;
    /*    z-index: -10;*/
}
.confirm_or_back{
display: none;
    position: fixed;
margin: -100px 0 0 -250px;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 200px;
    background-color: white;
    z-index: 500;
box-shadow: 0 0 5px white;
    border-radius: 3px;
}
.confirm_or_back img{
max-height: 150px;
max-width: 150px;

}
.social{
text-align: center;}
.pluso-more{
display: none !important;
}
.close_basket{
display: inline-block;
    float: right;
    margin-right: 20px !important; 
    cursor: pointer;
}
.text_about_checkout{
margin: 10px 5px -8px 5px;
}
.text_about_checkout span{
    font-size: 1.2em;
margin: 5px 0px;
}
.image_confirm{
    margin: 7px;
width: 150px;
height: 150px;
float: left;
    border: 1px solid grey;
}
.next_buy{
float:right;
    margin: -2px 5px ;
    padding: 7px 10px;
    background-color: grey;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.name_confirm_buy{
margin: 10px 0px;
}
#primary_nav_wrap {
    margin-top: 15px
}
#primary_nav_wrap ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0
}
#primary_nav_wrap ul a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    padding: 0 15px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
}
#checkout{
    float: right;
}
#next_buy{
clear: left;
}

#primary_nav_wrap ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0
}
#primary_nav_wrap ul li.current-menu-item {
    background: #ddd
}
#primary_nav_wrap ul li:hover {
    background: #f6f6f6
}
#primary_nav_wrap ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 0
}
#primary_nav_wrap ul ul li {
    float: none;
    width: 200px
}
#primary_nav_wrap ul ul a {
    line-height: 120%;
    padding: 10px 15px
}
#primary_nav_wrap ul ul ul {
    top: 0;
    left: 100%
}
#primary_nav_wrap ul li:hover > ul {
    display: block
}
#general_price {
    color: dimgrey;
    font-weight: bold;
    border-radius: 3px;
    margin: 15px 2px 2px 10px;
}
#econom {
    color: #d02727;
    font-weight: bold;
    border-radius: 3px;
    margin: 5px 2px 2px 10px;
}
#prise_you {
    font-size: 1.2em;
    color: #000000;
    font-weight: bold;
    border-radius: 3px;
    margin: 15px 2px 2px 10px;
}


/* news_style */
.nav{
/*background-color: #fff;*/
/*color: #444;*/
font-family: Arial;
font-feature-settings: "'liga' 1";
font-kerning: auto;
font-style: normal;
font-size: 1em;
font-weight: 400;
letter-spacing: 0;
line-height: 1.5em;
text-align: left;
text-decoration: none;
text-transform: none;
word-spacing: 0;
    width: 100%;

}

a:hover+span {
    font-size: 20px;
}

.navbar-fixed-top {
    position: static;
    top: auto;
    float: left;
    clear: left;
    width: 100%;
}

.center {
    float: left;
}
.nav li{
display: block;
    z-index: 100;
}

.dropdown-menu < li {
    
    cursor: default;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) url(data:image/gif;base64,R0lGODlhBwAKAMIEAObm5uvr6/Dw8P39/f///////////////yH5BAEKAAcALAAAAAAHAAoAAAMWSDPUGoE5AaIj1M4qMW+ZFDYD1ClnAgA7) no-repeat scroll 100% 3px / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    list-style: none outside none;
    margin: 0px 7px 0px 7px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 8px 7px 0px;
}

.dropdown-menu {
    width: 300px;
    left: auto;
    word-break: break-all;
}

.dropdown-menu>li {
    display: block;
    white-space: normal;
    width: 300px;
}
.dropdown-menu>li:hover {
   background-color: #c6c6c6;
}
.main_li 
{
/*z-index: 1000;*/
}
.main_li:hover {
    background-color: lightgrey;
}

.navbar-inner {
    background-image: -moz-linear-gradient(top, #fffcfc 0%, #fffcfc 50%, #cccccc 100%);
    background-image: -webkit-linear-gradient(top, #fffcfc 0%, #fffcfc 50%, #cccccc 100%);
    background-image: -o-linear-gradient(top, #fffcfc 0%, #fffcfc 50%, #cccccc 100%);
    background-image: -ms-linear-gradient(top, #fffcfc 0%, #fffcfc 50%, #cccccc 100%);
    width: 100%;
    float: left;
}

.navbar .popover {
    width: 600px;
    /*            overflow: hidden;*/
}
.maintainHover{

}
.navbar .dropdown-menu > li > a.maintainHover {
    background-position: right bottom;
    color: black;
}

.nav li a {
    color: #000;
}

.dropdown-toggle {
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
}

.top_link a:hover {
    color: #e47911;
    text-decoration: underline;
}

.top_link a {
    color: #05a;
    text-decoration: none;
    margin-right: 15px;
}

.top_link {
    padding-top: 8px;
}

.friday {
    padding-top: 3px;
}

.popover {
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: right bottom;
}

.popover ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popover h4 {
    color: #e47911;
    font-size: 18px;
}

.popover li a {
    color: #333;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
}

.popover li a:hover {
    color: #e47911;
    text-decoration: underline;
    background-color: #cccccc;
}

.popover span {
    color: #999;
    font-size: 11px;
    line-height: 13px;
    
}

.row_right {
       width: 250px;
    float: right;
/*    z-index: 100;*/
    /*            background-color: white;*/
}

.row_left {
    float: left;
    width: 250px;
    
    /*                   background-color: white;*/
}

.popover {
    max-width: 700px;
}

.dropdown-menu {
    margin: 0;
}

.dropdown-menu li a {
    display: inline-block;
}

.padding {
    padding: 0 15px;
/*    float: left;*/
}

#submenu-1 li a {
    line-height: 25px;
}

.border_submenu,
.border_menu {
    display: inline-block;
    border-top: 1px solid #eee;
}

.border_submenu {
    margin-top: 9px;
    padding-top: 9px;
}

.border_menu {
    margin-top: 6px;
    padding-top: 11px;
    
}

.img_category {
/*    display: inline;*/
    float: left;
    clear: right;
    position: absolute;
    /*
            top: 235px;
            left: 348px;
*/
    z-index: -100;
    /*
            width=190px;
            height=190px;
*/
}

.img_category img {
    /*
            max-height: 190px;
            max-width: 190px;
*/
}

.left_menu {
    float: right;
    margin: 0 10px 0 0;
    font-size: 15px;
    font-weight: bold;
    color: #990000;

    
}
.fixed_menu
{
position: fixed;
    display: none;
    top: 0px;
    width: 1000px;
    height: 40px;
    border: 1px solid #fff;
    background-color: #007CBF;
    z-index: 100;
    position: fixed;
    font-style: italic;
    color: #ffffff;
}

.open 
{
/*z-index: 10000;*/
}
.input_menu
{
float: right;
width: 200px;

}
.phones_menu
{float: left;
width: 100px;
    margin: 3px 0 1px 5px;
}
.catalog_menu
{float: left;
width: 200px;
    margin: 3px 0 0 0;
}

#telephone {
    margin: 2px 0 0 0;
}
